.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #f5332c; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #f5332c; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }

  body{
      width: 300px;
      padding: 10px;
      color: red;
  }

  h2{
    color: black;
  }
  .settings-container{
      padding-left:15px;
      padding-right: 15px;
      padding-bottom: 15px;
      border: gray solid 1px;
      border-radius: 5px
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggle:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left:2px;
    bottom:3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .toggle {
    background-color:#f5332c;
  }
  
  input:focus + .toggle {
    box-shadow: 0 0 1px #f5332c;
  }
  
  input:checked + .toggle:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .toggle.round {
    border-radius: 15px;
  }
  
  .toggle.round:before {
    border-radius: 50%;
  }

  .row{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
  .thumb-select{
      padding-top: 10px;
  }
  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #f5332c;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}